{% extends "base.html" %}

{% block content %}

	<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">Edit Comment</h1>
			</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="color: #999;">
			Author: {{comments.name}}
		</div>
	</div>
	<form method="post" class="form-horizontal">
		<div class="form-group text-center">
			<label for="content">Content</label>
			<textarea name="content">{{comments.content}}</textarea>
			<p class="error">{{error}}</p>
		</div>
		<div class="form-group text-center">
				<div class="col-md-12 text-center">
					<input type="submit" class="button">
					<a href="/blog"><button type="button" class="button">Go Back</button>
				</div>
		</div>
	</form>
{% endblock %}
